<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="demoqa">
<!--    <test name="textBoxes">-->
<!--        <classes>-->
<!--            <class name="com.skillbrain.mentor.demoqaTests.TextBoxPageTest"></class>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="loginTests">-->
<!--        <classes>-->
<!--            <class name="com.skillbrain.mentor.bstackTests.LoginTests"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="loginTests">
        <classes>
            <class name="com.skillbrain.mentor.bstackTests.AddToCardTes"/>
        </classes>
    </test>

</suite>